body {
	font-family: Medula One;
	font-size: 60px;
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}

.alert {
	position: fixed;
	top: 50%;
	font-size: 3rem;
	margin-top: -6rem;
	width: 100%;
	text-align: center;
}

@media screen and (max-device-width: 480px){
	.alert {
	  font-size: 7rem;
	  margin-top: -14rem;
	}
}

.start {
	display: none;
	position: fixed;
	top:50%;
	margin-top: -150px;
	width: 100%;
	font-size: 100px;
	text-align: center;
	cursor: pointer;
	color: #222;
	
	text-shadow: 0 1px 0 #ccc,
	0 2px 0 #c9c9c9,
	0 3px 0 #bbb,
	0 4px 0 #b9b9b9,
	0 5px 0 #aaa,
	0 6px 1px rgba(0,0,0,.1),
	0 0 5px rgba(0,0,0,.1),
	0 1px 3px rgba(0,0,0,.3),
	0 3px 5px rgba(0,0,0,.2),
	0 5px 10px rgba(0,0,0,.25),
	0 10px 10px rgba(0,0,0,.2),
	0 20px 20px rgba(0,0,0,.15);
	
	/* transitions */
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

#prenote, #prenote:hover {
	color: #333;
	position: fixed;
	top:50%;
	margin-top: -30px;
	font-size: 40px;
	cursor: default;
	text-shadow: none;
}

.start:hover{
	color: #333;
}

#loading {
	display: block;
	position: fixed;
	font-size: 40px;
	top: 50%;
	width: 100%;
	text-align: center;
	margin-top: -40px;
}

#loading #txtld {
	margin-top: -75px;
}

#lyrics-canvas {
	width: 1000px;
	height: 700px;
}
#lyrics,#lyrics-next {
	color: #333;
	position: fixed;
	top: 50%;
	width: 100%;
	text-align: center;
	margin-top: -6rem;
	cursor: default;

	/* transitions */
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
#lyrics-next {
	opacity: 0;
}

