
.starry-old {
	background-color:#001;
	background-image:
	radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
	radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
	radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
	radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
	background-image:
	-webkit-radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
	-webkit-radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
	-webkit-radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
	-webkit-radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
	
	
}

.starry {
	background-color:#001;

	/* Firefox */
	background-image:
		-moz-radial-gradient(circle, #FFFFFF 2px, rgba(255,255,255,.5) 4px, transparent 40px),
		-moz-radial-gradient(circle, #FFFFFF 1px, rgba(255,255,255,.4) 3px, transparent 30px),
		-moz-radial-gradient(circle, rgba(255,255,255,.9) 1px, rgba(255,255,255,.3) 2px, transparent 40px),
		-moz-radial-gradient(circle, rgba(255,255,255,.4), rgba(255,255,255,.2) 1px, transparent 30px);




	/* Webkit */
	background-image:
		-webkit-gradient(radial, 50% 50%, 2, 50% 50%, 40, from(rgba(255,255,255,.5)), color-stop(0.1, rgba(255,255,255,.3)), to(transparent)),
		-webkit-gradient(radial, 50% 50%, 1, 50% 50%, 30, from(rgba(255,255,255,.5)), color-stop(0.1, rgba(255,255,255,.2)), to(transparent)),
		-webkit-gradient(radial, 50% 50%, 1, 50% 50%, 40, from(rgba(255,255,255,.5)), color-stop(0.05, rgba(255,255,255,.3)), to(transparent)),
		-webkit-gradient(radial, 50% 50%, 0, 50% 50%, 30, from(rgba(255,255,255,.2)), color-stop(0.03, rgba(255,255,255,.2)), to(transparent));

	/* Background Attributes */
	background-size: 650px 650px, 450px 450px, 350px 370px, 320px 300px;
	background-position: 0 46px, 30px 0px, 130px 270px, 70px 150px;

	/* Animation */
	animation-name: movement;
	animation-duration: 5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	/* Firefox */
	-moz-animation-name: movement;
	-moz-animation-duration: 5s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;

	/* Webkit */
	-webkit-animation-name: movement;
	-webkit-animation-duration: 5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}
@keyframes movement
{
	from {
			background-position: 0 46px, 30px 0px, 130px 270px, 70px 150px;
	}
	to {
			background-position: -650px 46px, -420px 0px, -220px 270px, -250px 150px;
	}
}
@-moz-keyframes movement
{
	from {
			background-position: 0 46px, 30px 0px, 130px 270px, 70px 150px;
	}
	to {
			background-position: -650px 46px, -420px 0px, -220px 270px, -250px 150px;
	}
}
@-webkit-keyframes movement
{
	from {
			background-position: 0 46px, 30px 0px, 130px 270px, 70px 150px;
	}
	to {
			background-position: -650px 46px, -420px 0px, -220px 270px, -250px 150px;
	}
}

.gradient {
	/* transitions */
	-webkit-transition: all 5s ease-in-out;
	-moz-transition: all 5s ease-in-out;
	-o-transition: all 5s ease-in-out;
	transition: all 5s ease-in-out;
}

.photo {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-repeat: no-repeat;
}

.overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: #fff;
	z-index: -1;
	-moz-transition: all 5s ease-in-out;
	-webkit-transition: all 5s ease-in-out;
	transition: all 5s ease-in-out;
}